<!-- <app-articel></app-articel> -->
<div class="articels" *ngIf="articles.length">
  <div class="item-rap" *ngFor="let article of articles">
    <mat-card-title>{{ article.title }}</mat-card-title>
    <mat-card-subtitle>{{ article.description }}</mat-card-subtitle>
    <mat-card-subtitle>{{ article.content }}</mat-card-subtitle>

    <mat-divider></mat-divider>
  </div>
</div>

<!-- <div class="articles" *ngIf="articles.length">
  <div class="article" *ngFor="let article of articles; st">
    <p>title: {{ article.title }}</p>
    <p>description: {{ article.description }}</p>
    <p>content: {{ article.content }}</p>
  </div>
</div>
<br /><br /><br />
<h3>add new article</h3>
<br />
<form>
  enter title:<input type="text" (change)="onTitleChange($event)" /><br />
  enter description:<input
    type="text"
    (change)="onDescriptionChange($event)"
  /><br />
  enter content:<input type="text" (change)="onContentChange($event)" /><br />
  <button (click)="createArticle($event)">create article</button>
</form> -->
